<div class="detail-container">

  <div *ngIf="loading">
    Loading employee detail...
  </div>

  <ng-container *ngIf="detailEmployee$ | async as emp">
    <h2 class="title">Employee Detail</h2>
    <div class="detail-card">
      <p>ID: {{ emp.id }}</p>
      <p>Name: {{ emp.firstName }} {{ emp.lastName }}</p>
      <p>Email: {{ emp.email }}</p>
      <p>Birthday: {{ emp.birthDate }}</p>
      <p>Salary: {{ emp.basicSalary }}</p>
      <p>Status: {{ emp.status }}</p>
      <p>Description: {{ emp.description }}</p>
    </div>

    <button class="btn-ok" (click)="goBack()">OK</button>

  </ng-container>

</div>